html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f6f6f6;
  min-height: 100vh;
  height: 100vh;
  padding: 35px;
  position: relative;
}
.bodyBlackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
.bodyBlackout.blackedOut {
  display: block;
}
.modalForm {
  height: 365px;
  width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}
.modalForm.visible {
  opacity: 1;
  pointer-events: auto;
}
.column {
  display: flex;
  flex-direction: column;
}

#sectionComp {
  display: flex;
  border: 1px solid black;
}

.hidden {
  display: none;
}

#logInContainer {
    display: flex;
    flex-direction: row;
}

.messageBox {
    border: 1px solid black
}
